.title-editor {
  /* margin-bottom: 10px; */
  width: 100%; /* Ensures the container spans the entire width */
  margin-bottom: 0;
  padding: 0;
  padding-right: 20px;
  padding-left: 20px;
}

.title-input {
  width: 100%; /* Makes the input span the full width of its container */
  padding: 5px;
  font-size: 1.7rem; /* Increase font size for a more prominent title look */
  font-weight: bold; /* Makes the text bold */
  /* border: 1px solid #ccc; 
  border-radius: 5px; */
  text-align: left; /* Aligns placeholder and text to the left */
  box-sizing: border-box; /* Ensures padding doesn't affect width */
  color: #333; /* Darker text color for better visibility */
  outline: none;
}

.title-input:focus {
  border: none; /* Removes border when the input is focused */
  box-shadow: none; /* Removes any shadow effect on focus */
}
